<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>
<body>
<header>
    <h2>Management System</h2>
    <nav>
        <ul>
            <li><a href="/">Управление товарами</a></li>
            <li><a href="/category">Категории</a></li>
            <li><a href="/about">Об авторе</a></li>
            <li><a href="/logout">Выход</a></li>
        </ul>
    </nav>
</header>

<h2>Об авторе</h2>
<p>Это приложение разработано для управления товарами и категориями.</p>
</body>
</html>
