<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <h2>Management System</h2>
    <nav>
        <ul>
            <li><a href="/">Управление товарами</a></li>
            <li><a href="/category">Категории</a></li>
            <li><a href="/about">Об авторе</a></li>
            <li><a href="/logout">Выход</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <h1>Category Manager</h1>

    <!-- Form for Adding/Updating Category -->
    <form id="category-form" >
        <input type="hidden" id="category-id">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" required>
        </div>
        <button type="submit">Save</button>
    </form>

    <!-- List of Categories -->
    <h2>Categories</h2>
    <ul id="category-list"></ul>
</div>
<script src="/app.js"></script>
</body>
</html>
